<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <h4 class="text-center text-primary border-bottom">Books</h4>
        <form method="GET" action="/book">
            <div class="form-row align-items-center">

                <div class="col-auto">
                    <input type="text" class="form-control mb-2" id="name" name="title" value="<%= searchOptions.title %>">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>


        <% books.forEach((book, sNo) => { %>
            <div class="row">
                <div class="col-2">
                    <%= sNo+1 %>
                </div>
                <div class="col-6">
                    <img src="<%= book.coverImagePath %>" height="100" width="100">
                </div>
                <div class="col-2 text-right">
                    Edit
                </div>
                <div class="col-2 text-right">
                    Delete
                </div>

            </div>
            <% }); %>
    </div>


</div>