<!-- <div class="row">
    <div class="col-6">

    </div>

</div> -->

<!-- 
<% books.forEach((book) => { %>
    <div class="row">
        <div class="col-6">
            <img src="<%= book.coverImagePath %>" height="100" width="100">
        </div>
    </div>
    <% }); %> -->

<div class="card">
    <div class="card-header">
        Recently added books
    </div>
    <div class="card-body">
        <% books.forEach((book) => { %>
            <h5 class="card-title">
                <%= book.title %>
            </h5>
            <img src="<%= book.coverImagePath %>" height="100" width="100">
            <hr/>
            <% }); %>
    </div>
</div>