<div class="row my-4">
    <div class="col-12 col-md-6 offset-md-3">
        <h3 class="border-bottom text-center text-primary">Add Author</h3>
        <form action="/author/store" method="POST">
            <%- include('./_form_fields') %>
        </form>
        <%- include('../partials/errorMsg') %>
    </div>

</div>